<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" routerLink="/checkout"><i class="fa fa-shopping-cart" aria-hidden="true"></i> POS
        <i>Solutions</i>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="loggedUser.id" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/checkout" class="nav-link">Checkout</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/orders" class="nav-link">Orders List</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/saved-orders" class="nav-link">Save Orders</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/cash-drawer" class="nav-link">Cash drawer</a>
        </li>
      </ul>
      <ul class="navbar nav">
        <li class="nav-item" style="color: white">{{loggedUser.name}}
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </li>
      </ul>
      <!-- <button *ngIf="!loggedUser.id" routerLink="/login" class="btn btn-secondary">Login</button> -->
      <button *ngIf="loggedUser.id" (click)="downloadReport()" class="btn btn-outline-light btn-sm" title="Report" data-toggle="tooltip"><i class="fa fa-list-alt" aria-hidden="true"></i></button>
      <button *ngIf="loggedUser.id" (click)="confirmDrawer()" class="btn btn-outline-light btn-sm ml-2" data-toggle="modal" data-target="#confirmDrawerModal">logout</button>
    </div>
  </div>
</nav>

<!-- The Modal -->
<div class="modal" id="confirmDrawerModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cashdrawer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label>Starting Balance :
          <b>{{drawer.startingBalance | currency:'&#8377;'}}</b>
        </label>
        <br>
        <label>Closing Balance :
          <b>{{drawer.endingBalance | currency:'&#8377;'}}</b>
        </label>
        <hr>
        <p>Confirm to Logout!</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="logout()" class="btn btn-outline-primary" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
