<div class="container" style="height: 100%;">
  <div class="card p-2" style="min-height: 600px;">
    <div *ngIf="customer.id !== undefined" class="pl-3 m-2">
      <i>{{customer.name}}</i>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Subtotal
        <div style="float: right;">Rs. 0.00</div>
      </li>
      <li class="list-group-item">
        Tax
        <div style="float: right;">Rs. 0.00</div>
      </li>
      <li class="list-group-item">
        Grand Total
        <div style="float: right;">Rs. 0.00</div>
      </li>
    </ul>

    <button class="btn btn-primary form-control" style="margin-top: 100px;">Checkout</button>

  </div>
</div>
