<div class="container" style="height: 100%;">
  <div class="card p-2" style="min-height: 600px;">

    <div *ngIf="!isCustomerSelected" class="alert alert-danger alert-dismissible fade show" role="alert">
      No Customer selected. Please select customer first!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="customer.id !== undefined" class="pl-3 m-2">
      <span>
        <i class="fa fa-user prefix"></i>
        <strong> {{customer.name}}</strong>
      </span>
      <div style="float: right;">
        <button (click)="clearCart()" data-toggle="tooltip" title="Clear" class="btn btn-outline-dark btn-sm">
          <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
        <button (click)="resetCart()" data-toggle="tooltip" title="Cancel" class="btn btn-outline-dark btn-sm">
          <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div *ngIf="isProductStockLimitReached" class="alert alert-danger alert-dismissible fade show" role="alert">
      Product stock limit reached!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <ul class="list-group">

      <div class="container-fluid" style="overflow-y: auto;max-height: 320px;">
        <table class="table" *ngIf="customer.id !== undefined">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Unit price</th>
              <th scope="col">Qty.</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody *ngIf="orderDetails.length > 0">
            <tr *ngFor="let orderDetail of orderDetails">
              <td>{{orderDetail.product.name}}</td>
              <td>{{orderDetail.product.price | currency:'&#8377;'}}</td>
              <td>
                <button *ngIf="!togglePaymentOptions && !disableButtons" (click)="incrementProductQuantity(orderDetail)" class="btn btn-outline-primary btn-sm">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                {{orderDetail.quantity}}
                <button *ngIf="!togglePaymentOptions && !disableButtons" (click)="decrementProductQuantity(orderDetail)" class="btn btn-outline-primary btn-sm">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </td>
              <td>{{orderDetail.quantity * orderDetail.product.price | currency:'&#8377;'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <li class="list-group-item">
        Subtotal
        <div style="float: right;">{{subtotal | currency:'&#8377;'}}</div>
      </li>
      <li class="list-group-item">
        Tax
        <div style="float: right;">{{tax | currency:'&#8377;'}}</div>
      </li>
      <li class="list-group-item">
        Grand Total
        <div style="float: right;">{{total | currency:'&#8377;'}}</div>
      </li>
    </ul>

    <button [disabled]="!orderDetails || orderDetails.length == 0" class="btn btn-outline-success form-control mt-5"
      *ngIf="!togglePaymentOptions" (click)="togglePaymentOptions=true">Checkout
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </button>


    <!-- To be displayed on click on checkout -->
    <div class="card p-2 m-2" *ngIf="togglePaymentOptions">
      <div class="form-inline">
        Payment Mode :
        <select class="form-control" #paymentMode (click)="selectedPaymentMode(paymentMode.value)">
          <option *ngFor="let mode of paymentModes" [value]="mode.value">{{mode.name}}</option>
        </select>
      </div>

      <div class="form-inline">
        <button *ngIf="!disableButtons" class="btn btn-secondary m-2" (click)="saveOrder(paymentMode.value)" data-toggle="modal"
          data-target="#saveOrderModal">Save Order</button>
        <button [disabled]="!isPaymentModeSelected" class="btn btn-primary m-2" (click)="placeOrder(paymentMode.value)" data-toggle="modal"
          data-target="#placeOrderModal">Place Order</button>
      </div>
    </div>
  </div>

  <!-- Modal for place order -->
  <div class="modal" id="placeOrderModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <h3>{{placedOrder.totalAmount | currency:'&#8377;' }}</h3>
          <h6>Order has been created successfully</h6>
          <h6>Order Id : #{{placedOrder.id}}</h6>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal for save order -->
  <div class="modal" id="saveOrderModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <h3>{{savedOrder.totalAmount | currency:'&#8377;' }}</h3>
          <h6>Order has been saved successfully</h6>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
