<div>
  <div class="row">

    <div class="col-4 card p-4">
      <div *ngIf="drawer" style="text-align: center">
        <h4>Drawer details</h4>
        <hr>
        <label>Starting Balance :
          <b>{{drawer.startingBalance | currency:'&#8377;'}}</b>
        </label>
        <br>
        <label>Closing Balance :
          <b>{{drawer.endingBalance | currency:'&#8377;'}}</b>
        </label>
      </div>
      <div *ngIf="!drawer">

        <form [formGroup]="cashDrawerForm" (ngSubmit)="setOpeningBalance(cashDrawerForm.controls.startingBalance.value)">
          <input type="text" formControlName="startingBalance" placeholder="Enter starting balance" class="form-control mb-3">
          <div *ngIf="cashDrawerForm.controls.startingBalance.invalid && (cashDrawerForm.controls.startingBalance.dirty || cashDrawerForm.controls.startingBalance.touched)"
            class="alert alert-warning">
            <div *ngIf="cashDrawerForm.controls.startingBalance.errors.required">
              Starting balance can not be empty.
            </div>

            <div *ngIf="cashDrawerForm.controls.startingBalance.errors.min">
              Starting balance can not be negative.
            </div>

            <div *ngIf="cashDrawerForm.controls.startingBalance.errors.pattern">
              Starting balance should be valid number upto 2 decimals.
            </div>
          </div>
          <button type="submit" [disabled]="cashDrawerForm.invalid" class="form-control btn btn-primary">Enter</button>
        </form>

      </div>
    </div>

    <div class="col-8" style="overflow-y: auto; max-height: 700px;">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Drawer Summary</span>
      </nav>
      <div class="card" *ngFor="let gOrder of groupedOrders">
        <div class="card-header">
          <div class="row">
            <div class="col">{{gOrder.orderDate}}</div>
            <div class="col">Starting balance : {{gOrder.startingBalance | currency:'&#8377;'}}</div>
            <div class="col">Closing Balance : {{gOrder.endingBalance | currency:'&#8377;'}}</div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let order of gOrder.orders" class="list-group-item list-group-item-action list-group-item-secondary">
            <div class="row">
              <div class="col">
                <b>#{{order.id}}</b>
              </div>
              <div class="col">
                {{order.totalAmount | currency:'&#8377;'}}
              </div>
              <div class="col">
                {{order.customer.name}}
              </div>
              <div class="col">
                {{order.orderTime}}
              </div>
            </div>
            <div *ngIf="orders && orders.length == 0" style="text-align: center">
              <h5>No Transactions on this day!</h5>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
