<nav class="navbar navbar-light bg-light mb-3">
  <a class="navbar-brand">Cart</a>
  <div class="form-inline">

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <input #customerSearchInput (keyup)="searchCustomers(customerSearchInput.value)" class="form-control" placeholder="Search customer">
      <div class="input-group-append">
        <button (click)="customerSearchInput.value=''; clearCustomers()" class="btn btn-outline-secondary" type="button">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-3 mb-3" *ngIf="customers$ | async">
  <div class="card p-1" style="overflow-y: auto;max-height: 150px;">
    <ul class="list-group-item">
      <li *ngFor="let customer of customers$ | async" class="list-group-item" (click)="selectCustomerCart(customer);customerSearchInput.value=''">
        {{customer.name}}
        <div style="float: right;">{{customer.email}}</div>
      </li>
    </ul>
  </div>
</div>
